body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', 'Open Sans', sans-serif;
}
.main-wrapper{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
.top-panel {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sort-block {
    display: flex;
}
.abv-sort-wrapper,
.ibu-sort-wrapper{
    width: 150px;
    margin-right: 50px;
    border-radius: 10px;
    background-color: #aaaaaa;
    padding: 5px 10px;
    text-transform: uppercase;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.abv-sort__button-asc,
.abv-sort__button-desc,
.ibu-sort__button-asc,
.ibu-sort__button-desc {
    width: 30px;
    display: inline-block;
    height: 50%;
    position: relative;
    cursor: pointer;
}
.abv-sort__button-asc::before,
.ibu-sort__button-asc::before{
    content: "";
    position: absolute;
    border-bottom: solid #000000 10px;
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    top: 0;
    left: 5px;
}

.abv-sort__button-desc::before,
.ibu-sort__button-desc::before{
    content: "";
    position: absolute;
    border-top: solid #000000 10px;
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    top: 0;
    left: 5px;
}

.sort-buttons-wrapper {
    display: flex;
    flex-direction: column;
}

.feedback-button{
    border: solid #000000 1px;
    border-radius: 10px;
    padding: 10px;
    background-color: aquamarine;
    cursor: pointer;
}

.beer-list-wrapper {
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.beer-item {
    width: 21%;
    margin-bottom: 2.5em;
}

.beer-item__name {
    font-size: 1.2em;
    font-weight: 700;
    min-height: 2.7em;
    margin-bottom: .5em;
}

.berr-item__image-wrapper {
    width: 100%;
    height: 250px;
    text-align: center;
    margin-bottom: 1em;
}

.beer-item__image {
    height: 100%;
    margin: 0 auto;
}
.beer-item__description-label{
    font-weight: 700;
}
.beer-item__ibu{
    margin-bottom: 1em;
}

.beer-item__description {
    height: 10em;
    overflow: auto;
    margin-bottom: 1em;
}

.beer-item__favorite-button{
    border: solid #000000 1px;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    transition: all .2s;
}

.beer-item__favorite-button.in-storage {
    background-color: #aaaaaa;
}